<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="autoVehicle">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00199572760235786 0.00334788402130737 0.00564578754463325"
        rpy="0 0 0" />
      <mass
        value="0.446602219201247" />
      <inertia
        ixx="0.000480015242688326"
        ixy="-2.71240785096608E-19"
        ixz="-2.71502976340294E-11"
        iyy="0.000699327543402837"
        iyz="-4.95623146846087E-19"
        izz="0.00116265232920818" />
    </inertial>
    
    <collision>
      <origin xyz="0 0 0.0318" rpy="0 0 0" />
      <geometry>
        <box size="0.165 0.14 0.0575" />
      </geometry>
    </collision>
<visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://autoVehicle/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    
  </link>
  <link
    name="left_front_wheel">
    <inertial>
      <origin
        xyz="1.237E-14 0.005 2.6664E-14"
        rpy="0 0 0" />
      <mass
        value="0.0067858" />
      <inertia
        ixx="4.5352E-07"
        ixy="1.1882E-39"
        ixz="-5.8315E-40"
        iyy="7.9394E-07"
        iyz="-1.0941E-39"
        izz="4.5352E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://autoVehicle/meshes/left_front_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.02" />
      </geometry>
      <surface>
        <friction>
          <ode><mu>100.0</mu><mu2>100.0</mu2></ode>
          <dart>
            <primary_friction>100.0</primary_friction>
            <secondary_friction>100.0</secondary_friction>
          </dart>
        </friction>
      </surface>
    </collision>
  </link>
  <joint
    name="left_front_joint"
    type="continuous">
    <origin
      xyz="0.07 0.074 -0.012"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_front_wheel" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="left_rear_wheel">
    <inertial>
      <origin
        xyz="1.0436E-14 0.005 1.5712E-13"
        rpy="0 0 0" />
      <mass
        value="0.0067858" />
      <inertia
        ixx="4.5352E-07"
        ixy="1.1882E-39"
        ixz="9.7184E-42"
        iyy="7.9394E-07"
        iyz="-1.0655E-39"
        izz="4.5352E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://autoVehicle/meshes/left_rear_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.02" />
      </geometry>
      <surface>
        <friction>
          <ode><mu>100.0</mu><mu2>100.0</mu2></ode>
          <dart>
            <primary_friction>100.0</primary_friction>
            <secondary_friction>100.0</secondary_friction>
          </dart>
        </friction>
      </surface>
    </collision>
  </link>
  <joint
    name="left_rear_joint"
    type="continuous">
    <origin
      xyz="-0.07 0.074 -0.012"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_rear_wheel" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="right_rear_wheel">
    <inertial>
      <origin
        xyz="6.9389E-16 -0.005 3.0496E-15"
        rpy="0 0 0" />
      <mass
        value="0.0067858" />
      <inertia
        ixx="4.5352E-07"
        ixy="-3.5062E-21"
        ixz="-6.0995E-37"
        iyy="7.9394E-07"
        iyz="5.9054E-23"
        izz="4.5352E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://autoVehicle/meshes/right_rear_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.02" />
      </geometry>
      <surface>
        <friction>
          <ode><mu>100.0</mu><mu2>100.0</mu2></ode>
          <dart>
            <primary_friction>100.0</primary_friction>
            <secondary_friction>100.0</secondary_friction>
          </dart>
        </friction>
      </surface>
    </collision>
  </link>
  <joint
    name="right_rear_joint"
    type="continuous">
    <origin
      xyz="-0.07 -0.074 -0.012"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_rear_wheel" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="right_front_wheel">
    <inertial>
      <origin
        xyz="2.5951E-15 -0.005 5.4999E-15"
        rpy="0 0 0" />
      <mass
        value="0.0067858" />
      <inertia
        ixx="4.5352E-07"
        ixy="-3.554E-21"
        ixz="-5.995E-37"
        iyy="7.9394E-07"
        iyz="5.9054E-23"
        izz="4.5352E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://autoVehicle/meshes/right_front_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.02" />
      </geometry>
      <surface>
        <friction>
          <ode><mu>100.0</mu><mu2>100.0</mu2></ode>
          <dart>
            <primary_friction>100.0</primary_friction>
            <secondary_friction>100.0</secondary_friction>
          </dart>
        </friction>
      </surface>
    </collision>
  </link>
  <joint
    name="right_front_joint"
    type="continuous">
    <origin
      xyz="0.07 -0.074 -0.012"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_front_wheel" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="radar_link">
    <inertial>
      <origin
        xyz="-2.983E-10 1.3878E-17 0.0075"
        rpy="0 0 0" />
      <mass
        value="0.014432" />
      <inertia
        ixx="1.3755E-06"
        ixy="3.7077E-29"
        ixz="-3.3184E-14"
        iyy="1.3755E-06"
        iyz="-9.3222E-22"
        izz="2.2099E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://autoVehicle/meshes/radar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://autoVehicle/meshes/radar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="radar_joint"
    type="fixed">
    <origin
      xyz="0.063205 0.015705 0.0305"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="radar_link" />
    <axis
      xyz="0 0 1" />
  </joint>


  <gazebo reference="base_link">
    <material>Gazebo/LightGray</material>
  </gazebo>

  <gazebo reference="left_front_wheel">
    <material>Gazebo/Blue</material>
    <mu1>100.0</mu1>
    <mu2>50.0</mu2>
  </gazebo>

  <gazebo reference="left_rear_wheel">
    <material>Gazebo/Blue</material>
    <mu1>100.0</mu1>
    <mu2>50.0</mu2>
  </gazebo>

  <gazebo reference="right_front_wheel">
    <material>Gazebo/Blue</material>
    <mu1>100.0</mu1>
    <mu2>50.0</mu2>
  </gazebo>

  <gazebo reference="right_rear_wheel">
    <material>Gazebo/Blue</material>
    <mu1>100.0</mu1>
    <mu2>50.0</mu2>
  </gazebo>




  <gazebo>
    <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
      <joint_name>left_front_joint</joint_name>
      <use_velocity_commands>true</use_velocity_commands>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
      <joint_name>left_rear_joint</joint_name>
      <use_velocity_commands>true</use_velocity_commands>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
      <joint_name>right_front_joint</joint_name>
      <use_velocity_commands>true</use_velocity_commands>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
      <joint_name>right_rear_joint</joint_name>
      <use_velocity_commands>true</use_velocity_commands>
    </plugin>
  </gazebo>
</robot>